:root {
    /* Background_primary_colour */
    --primary: #e91e63;
    /* trasaparent_background */
    --secondary: #ffffffdb;
    --white: #fff;
    --hover_color: #ffffffbc;
    --black_mid: #333;
    --black:#000000;
    --btn1: #ff1867;
    --btn2: #1e9bff;
    --btn3:#6eff3e;
    --quiz_background_color:linear-gradient(to bottom right, #f84983, #e480a1, #f84983);
}

.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    position: relative;
    
}

.socialContainer .section {
    background-color: var(--black);
    color: var(--white);
    height: 36px;
    width: 36px;
    margin: 0px 7px 0px;
    padding: 5px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.9);
    transition: width 300ms ease-in-out 0s;
    background-color: 300ms linear 200ms;
}

.socialContainer a {
    text-decoration: none;
}
.socialContainer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    aspect-ratio: 1/1;
}
.socialContainer i{
    font-size: 26px;
}

.socialContainer .section:hover {
    transition: all .3s;
}

.socialContainer .facebook:hover {
    background: #1877F2;
}

.socialContainer .instagram:hover {
    background: #de1483;
}


.socialContainer .telegram:hover {
    background: #0088cc;
}

.socialContainer .linkedin:hover {
    background: #0077B5;
}
.socialContainer .youtube:hover {
    background: #cd201f;
}