:root {
    /* Background_primary_colour */
    --primary: #e91e63;
    /* trasaparent_background */
    --secondary: #ffffffdb;
    --white: #fff;
    --hover_color: #ffffffbc;
    --black_mid: #333;
    --black:#000000;
    --btn1: #ff1867;
    --btn2: #1e9bff;
    --btn3:#6eff3e;
    --quiz_background_color:linear-gradient(to bottom right, #f84983, #e480a1, #f84983);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--primary);
}

body .continer {
    position: relative;
    top: 65px;
    color: var(--white);
    /* z-index: -30; */
    z-index: 0;
    margin: 0 2px;
    /* padding: 0 10px; */
}

.subcontainer {
    background: var(--secondary);
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
}

.subcontainer .content_1 {
    position: relative;
    max-width: 900px;
    z-index: 10;
    margin-top: 20px;
    margin-left: 5px;
}

.subcontainer .content_1 h3 {
    font-size: 2em;
    color: var(--black_mid);
    font-weight: 300;
    transition: 0.5s;
}

.subcontainer .content_1 h2 {
    font-size: 4.5em;
    color: var(--black_mid);
    font-weight: 700;
    transition: 0.5s;
}

.subcontainer .content_1 h2 br {
    display: none;
}

.subcontainer .content_1 h2 span {
    color: var(--primary);
}

.subcontainer .content_1 p {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
    transition: 0.5s;
}

.subcontainer .content_1 a {
    text-decoration: none;
}

.subcontainer .content_1 button {
    position: relative;
    background: var(--primary);
    color: var(--white);
    border: none;
    outline: none;
    padding: 15px 35px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 4px;
    font-weight: 600;
    transition: 0.5s;
    margin: auto 5px;
    cursor: pointer;
}

.subcontainer .content_1 button.chat {
    background: transparent;
    color: var(--black_mid);
    border: 1px solid var(--primary);
}

.subcontainer .content_1 button.chat i {
    position: relative;
    /* top: 5px; */
    color: var(--primary);
    font-size: 1em;
}

.subcontainer .content_1 button.chat i span {
    margin: 5px;
}

.subcontainer img {
    width: 300px;
    border-radius: 18px;
    border: 1px solid var(--primary);
    margin: 10px;
}

.subcontainer .content_2 {
    position: relative;
    max-width: 900px;

}

.subcontainer .content_2 h4 {
    font-size: 3rem;
    /* font-size: 24px; */
    font-weight: 500;
    color: var(--black_mid);
    /* padding: 0; */
    margin: 10px auto;
    display: flex;
    justify-content: center;

}

.subcontainer .content_2 .content_quiz {
    display: flex;
    /* margin: auto%; */
    justify-content: center;

}

.subcontainer .content_2 a {
    /* margin: 5% 10%; */
    margin: 20px 10px;

}

/* ---------#uniqueBtnClick-APPLY-IN-EVERY-BUTTON----- */
a#uniqueBtnClick {
    position: relative;
    background: var(--black_mid);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 5px;
    transition: 0.5s;
    justify-content: center;
    border-radius: 4px;
    
}

a#uniqueBtnClick:hover {
    /* letter-spacing: 0.25em; */
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

a#uniqueBtnClick::before {
    content: '';
    position: absolute;

    inset: 2px;
    background: #27282c;
}

a#uniqueBtnClick span {
    position: relative;
    /* position: fixed; */
    z-index: 1;
    /* display: block; */
    
}

a#uniqueBtnClick i {
    position: absolute;

    inset: 0;
    display: flex;
}

a#uniqueBtnClick i::before {
    content: '';
    position: absolute;

    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

a#uniqueBtnClick:hover i::before {
    width: 20px;
    left: 20%;
}

a#uniqueBtnClick i::after {
    content: '';
    position: absolute;

    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

a#uniqueBtnClick:hover i::after {
    width: 20px;
    left: 80%;
} 

/* ---------#uniqueBtnClick----END----- */


/* ---------Social Share--Start--- */

.continer .subcontainer_share {
    background: var(--secondary);
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
}
.continer .subcontainer_share .content_share{
    position: relative;
    max-width: 900px;
    /* z-index: 10; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.continer .subcontainer_share .content_share h3{
    text-align: center;
    color: var(--black_mid);
    margin-bottom: 5px;
}
.continer .subcontainer_share .content_share h2{
    text-align: center;
    color: var(--black_mid);
    font-size: 2rem;
    margin-bottom: 10px;
}

.subcontainer .content_1 .socialIconShare {
    display: flex;
    justify-content: center;
    margin: 25px;
    
}
/* ---------Social Share--End--- */



/* -------------- Screen Size ------------------- */

@media (max-width:992px) {
    body .continer {
        top: 50px;
    }

    .subcontainer {
        display: grid;
    }

    .subcontainer .content_1 {
        margin-top: 5px;
    }

    .subcontainer .content_1 h3 {
        font-size: 1.5em;
    }

    .subcontainer .content_1 h2 {
        font-size: 3em;
    }

    .subcontainer .content_1 h2.name1 {
        font-size: 2em;
        display: flex;
        justify-content: center;
    }

    .subcontainer .content_1 h2 br {
        display: block;
    }

    .subcontainer .content_1 p {
        font-size: 1em;
    }

    .subcontainer img {
        margin: 10px auto;
    }

    .subcontainer .content_2 .content_quiz {
        display: block;
    }

    .subcontainer .content_2 a {
        margin: 20% auto;
        display: flex;
    }
}